h1 {
  color: #fff;
  margin: 0px 0px 28px 0px;
  padding: 20px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 58px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 42px;
}
