<div class="content">
  <div class="title">
    <h2>{{ animeTitle }}</h2>
  </div>

  <div class="synopsis">
    <p>{{ anime?.synopsis }}</p>
  </div>

  <div class="extras">

    <div class="infos">
      <div class="info-text">
        <span>Rating</span><span>{{ anime?.rating }}</span>
      </div>
      <div class="info-text">
        <span>Score</span><span>{{ anime?.score }}</span>
      </div>
      <div class="info-text">
        <span>Season</span><span>{{ anime?.season }}</span>
      </div>
      <div class="info-text">
        <span>Source</span><span>{{ anime?.source }}</span>
      </div>
      <div class="info-text">
        <span>Year</span><span>{{ anime?.year }}</span>
      </div>
    </div>
    <div class="image">
      <img [src]="anime?.images?.jpg?.large_image_url" alt="Anime image">
    </div>
  </div>
</div>
